global_defs {
    enable_script_security
}

vrrp_script check_haproxy {
    script /home/keepalived_script/vrrp_script.sh
    weight 20
    interval 1
}

vrrp_instance agama {
    interface ens3
    virtual_router_id 1
    priority {{ 101 - ansible_hostname[-1] | int }}
    advert_int 1

    virtual_ipaddress {
        192.168.{{ hostvars[groups['high_availability_servers'][0]]['ansible_default_ipv4']['address'].split('.')[-2] | int + 58 }}.{{ hostvars[groups['web_servers'][0]]['ansible_default_ipv4']['address'].split('.')[-1] }}/24
    }

    unicast_peer {
{% for host in groups['web_servers'] %}
{%     if host | lower != ansible_hostname | lower %}
        {{ hostvars[host]['ansible_default_ipv4']['address'] }}
{%     endif %}
{% endfor %}
    }

    track_script {
        check_haproxy
    }
}
