server {
	listen 80 default_server;
	server_name _;

	location / {
		uwsgi_pass 127.0.0.1:5050;
		include uwsgi_params;
	}

	location /prometheus {
        proxy_pass http://127.0.0.1:9090; 
    }
	
}

server {
    listen 127.0.0.1:8080;

    location /stub_status {
        stub_status;
    }
}
