apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: {{ pinger_db_url }}
    database: {{ pinger_db_name }}

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090/prometheus

  - name: DS_INFLUXDB
    type: influxdb
    access: proxy
    url: {{ pinger_db_url }}
    database: {{ telegraf_db_name }}
