$TTL    604800
@       IN      SOA     {{ vm_name }}. root.localhost. (
                2       ; Serial
                604800  ; Refresh
                86400   ; Retry
                2419200 ; Expire
                604800 ) ; Negative Cache TTL

@       IN      NS      {{ vm_name }}.

{{ vm_name }}     IN      A       {{ hostvars[vm_name]['ansible_default_ipv4']['address'] }}
