acl corpnets { 
{% for network in dns_allowed_networks %}
    {{ network }}; 
{% endfor %} 
};

options {
    directory "{{ zone_dir }}";
{%  if ansible_hostname in groups['dns_primaries'] %}
    also-notify { 
{% for hostname in groups['dns_secondaries'] %}
        {{ hostvars[hostname]['ansible_default_ipv4']['address'] }}; 
{% endfor %}
    };
{% endif %}
    dnssec-validation no;
    allow-query { corpnets; };
    listen-on-v6 { any; };
    forwarders {
{% for forwarder in dns_forwarders %}
        {{ forwarder }};
{% endfor %}
    };

};

statistics-channels {
    inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "transfer.key" {
        algorithm hmac-sha256;
        secret "{{ transfer_key }}";
};

key "nsupdate.key" {
        algorithm hmac-sha256;
        secret "{{ nsupdate_key }}";
};

{% if ansible_hostname in groups['dns_secondaries'] %}
server {{ hostvars[groups['dns_primaries'][0]]['ansible_default_ipv4']['address'] }} {
    keys { transfer.key ; };
};
{% endif %}
