[Unit]
Description=Pinger Service
Documentation=https://shorturl.at/bfO34
After=network-online.target

[Service]
User={{ pinger_user }}
ExecStart=/usr/local/bin/pinger

[Install]
WantedBy=multi-user.target
